/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

li{
    font-size: 18px !important;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 2000px;
}

p {font-size: 18px;}

.jumbotron-welcome{
    background: url('images/DECA\ Stage.jpg') no-repeat fixed;
}

.jumbotron-DECAMackenzie{
    background: url('images/DECA\ Logo.png') no-repeat fixed;
}

.jumbotron-WhyJoin{
    background: url('images/Why\ Join.jpg') no-repeat fixed;
}

.jumbotron-HowToApply{
    background: url('images/HowToApply.jpg') no-repeat fixed;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 0px;
    }
    .body-content {
        padding: 0;
    }
}

.carousel-caption {
    bottom: 1rem;
    z-index: 10;
}

.welcome-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/2019-2020\ Marketing\ Photo.jpg')
}

.welcome-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/Announcement.png')
}

.welcome-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/ACED\ Chapter\ Photo.jpg')
}

.welcome-carousel-image4{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA\ Exec\ Info\ Meet\ 2022-2023.png')
}

.welcome-carousel-image5{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/Principles\ Group\ Photo.jpg')
}

.welcome-carousel-image6{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/Contact.png')
}

.ACED-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/First\ DECA\ Meet.jpg')
}

.ACED-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/ACED\ Chapter\ Photo.jpg')
}

.ACED-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/HolidayCaseCompetition2.png')
}

.ACED-carousel-image4{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/HolidayCaseCompetition3.png')
}

.ACED-carousel-image5{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/HolidayCaseCompetition4.png')
}

.ACED-carousel-image6{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/HolidayCaseCompetition5.jpg')
}

.ACED-carousel-image7{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/HolidayCaseCompetition6.jpg')
}

.ACED-carousel-image8{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/EasterCaseCompetition1.png')
}

.ACED-carousel-image9{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/EasterCaseCompetition2.png')
}

.ACED-carousel-image10{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA\ Dinner.jpg')
}

.DECA20-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/COVID_DECA1.png')
}

.DECA20-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/COVID_DECA2.png')
}

.DECA20-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/COVID_DECA3.png')
}

.DECA20-carousel-image4{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/COVID_DECA4.png')
}

.DECA19-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image1.JPG')
}

.DECA19-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image2.jpg')
}

.DECA19-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image3.jpg')
}

.DECA19-carousel-image4{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image4.jpg')
}

.DECA19-carousel-image5{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image5.jpg')
}

.DECA19-carousel-image6{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image6.jpg')
}

.DECA19-carousel-image7{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image7.jpg')
}

.DECA19-carousel-image8{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image8.JPG')
}

.DECA19-carousel-image9{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image9.jpg')
}

.DECA19-carousel-image10{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image10.jpg')
}

.DECA19-carousel-image11{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image11.jpg')
}

.DECA19-carousel-image12{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image12.jpg')
}

.DECA19-carousel-image13{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image13.jpg')
}

.DECA19-carousel-image14{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image14.jpg')
}

.DECA19-carousel-image15{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image15.jpg')
}

.DECA19-carousel-image16{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image16.jpg')
}

.DECA19-carousel-image17{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image17.jpg')
}

.DECA19-carousel-image18{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image18.jpg')
}

.DECA19-carousel-image19{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image19.jpg')
}

.DECA19-carousel-image20{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image20.jpg')
}

.DECA19-carousel-image21{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19_Image21.jpg')
}

.DECA19-carousel-image22{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.3);
    background-image: url('images/DECA19\ Image22.jpg')
}

.btn-default{
    background-color: rgb(38, 96, 182)  !important;
    color: rgb(255, 255, 255) !important;
}

.bg-primary {
    background-color:rgb(38, 96, 182) !important;
  }

.card-footer{
    background: transparent;
    border-top: 0px;
}

.jumbotron{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0);
    height: 65vh;
    background-size: cover;
}
